<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Papi - {% endblock %}</title>
{% block stylesheets %}
            <link href="https://bootswatch.com/5/journal/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_accueil')}}">Papi - Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
          </li>
        </ul>
      {% elseif is_granted('ROLE_ADMIN') %} 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_liste-typebatterie')}}">Liste des batteries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
          </li>
        </ul>
      {% endif %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

{% for message in app.flashes('notice') %}
  <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
    {{message}}
  </h2>
{% endfor %}
	
		{% block body %}Papi
		{% endblock %}
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Q
				yq46cDfL" crossorigin="anonymous"></script>
		{% endblock %}
	
</html>
